*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  cursor: pointer;
}
a:hover{
  text-decoration: none;
  color:inherit;
}
.sidebar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 260px;
  background: #6eaede;
}
  .logo{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    background: #559cd4;
  }
  .menu{
    color: white;
  }
  .menu ul li{
    margin-bottom: 20px;
    padding: 10px;
  }
    .submenu ul li{
      margin: 0;
    }
    .active-li{
      background-color: #559cd4;
    }

.lightblueColor{
  color: #4682b1 !important;
}
#menu-main{
  transition: all ease 0.5s;
}
#menu-mobile{
  position: absolute;
  right: 0;
  visibility: hidden;
}

#main-content{
  background: #e5f3fc;
  margin-left: 260px;
}
  #titulo{
    color: #559cd4;
    background: inherit;
  }
  #titulo-card{
    background: inherit;
  }
  #form-buscar{
    border: none;
  }
    #titulo-buscar{
      background: inherit;
      font-weight: 500;
    }
    .buscador{
      background-color: #e5f3fc;
      padding: 20px;
    }
  #myTab li a{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
  }
  li a[aria-selected="true"]{
    border-bottom: 3px solid #559cd4 !important;
  }

/* Responsive */

@media(max-width: 1366px){
    #menu-mobile{
      visibility: visible;
      padding: 10px;
    }
    #main-content{
      margin-left: 0;
    }
}
